.main {
  margin: 0 auto;
  max-width: var(--screen-md);
  padding: var(--outside-spacing-unit);
  position: relative;
}

.sections {
  display: flex;
  flex-direction: column;
}

@media (max-width: 576px) {
  .main {
    padding-inline: 0;
  }
}
