[data-theme="light"],
[data-theme="light"] html {
  --color-blank: white;

  --color-base-text: #141414;
  --color-title-text: #282859;

  --text-shadow: none;

  --color-gradient-1: #aee2ff;
  --color-gradient-2: #acbcff;
  --color-gradient-3: #b799ff;
}

[data-theme="dark"],
[data-theme="dark"] html {
  --color-blank: #282828;

  --color-base-text: white;
  --color-title-text: #d1af00;

  --text-shadow: 0 0 5px #d1af00, 0 0 15px #d1af00;

  --color-gradient-1: #0d0d0d;
  --color-gradient-2: #191919;
  --color-gradient-3: #262626;
}

[data-theme="neon"],
[data-theme="neon"] html {
  --color-blank: #000000;

  --color-base-text: #00ff00;
  --color-title-text: #ff00ff;

  --text-shadow: 0 0 5px #ff00ff, 0 0 15px #ff00ff;

  --color-gradient-1: #00ffff;
  --color-gradient-2: #ff00ff;
  --color-gradient-3: #ffff00;
}

[data-gradient="linear"],
[data-gradient="linear"] html {
  background: linear-gradient(
    270deg,
    var(--color-gradient-1),
    var(--color-gradient-2),
    var(--color-gradient-3)
  );

  background-size: 400% 400%;

  animation: linear-gradient 15s ease infinite;
}

[data-gradient="radial"],
[data-gradient="radial"] html {
  background: radial-gradient(
    circle,
    var(--color-gradient-1) 10%,
    var(--color-gradient-2) 45%,
    var(--color-gradient-3) 95%
  );

  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;

  animation: radial-gradient 5s ease-in-out infinite;
}

@keyframes linear-gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes radial-gradient {
  0%,
  100% {
    background-size: 100% 100%;
  }

  50% {
    background-size: 150% 150%;
  }
}
