.section {
  width: 100%;
  border-radius: var(--border-radius);
  padding: var(--inside-spacing-unit);
  background: var(--color-blank);
  box-shadow: var(--box-shadow);
}

.block {
  width: 100%;
  padding-block-start: calc(var(--outside-spacing-unit) * 2);
  padding-inline: var(--inside-spacing-unit);
}

@media (max-width: 576px) {
  .section {
    border-radius: 0;
    border-inline: none;
  }
}
